
.one1{
    border: 5px solid red;
    height: 150px;
    width: 500px;
}
.one2{
    border: 5px solid red;
    height: 150px;
    width: 500px;
}
.one3{
    border: 5px solid red;
    height: 150px;
    width: 500px;
}

.one{
    display: flex;
    gap: 100px;
    justify-content: center;
}


.two{
    border: 5px solid red;
    height: 150px;
    width: 500px;
    margin-top: 10px;
    justify-content: center;
    margin-left: 300px;
}

.three{
    border: 5px solid red;
    height: 150px;
    width: 500px;
    margin-top: 10px;
    margin-left: 600px;
}

.four{
    border: 5px solid red;
    height: 150px;
    width: 500px;
    margin-top: 10px;
    margin-left: 450px;
}

.main{
    border: 5px solid red;
    height: 100%;
    padding: 10px;
}